@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', consolas;
}
body {
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    position: absolute;
    width: 900px;
    height: 900px;
    background: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;


}
.box {
    position: relative;
    width: 200px;
    height: 200px;
    background: rgb(255, 98, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: 0.1s;
    box-shadow: 0 0 50px 40px rgba(255, 98, 0, 0.7);
    border-radius: 5px;
    
}

